nav,
footer {
    font-family: "Parkinsans", sans-serif;
    background-color: #676365;
    color: #ffef86;
}
.text:hover {
  text-decoration: none;  
}
body {
    background-color: #ffef86 !important;
}

main {
    background-color: #ffef86;
    
}

main h1 {
    font-family: "Ribeye", serif;
    color:#676365;
}

main h2,
main h3,
main h5 {
    color:#676365;
    font-family: "DM Serif Text", serif;
}

p {
    font-family: "Parkinsans", sans-serif;
}

a.nav-link {
    color: #ffef86;
}

p.card-text{
    color: #ffef86;
}
button.btn {
    background-color: #676365;
    color: #ffef86;
    text-decoration: none;
}
button a {
  text-decoration: none;  
  color: inherit; 
}
.text-link {
    color: inherit;
  }

.logo-text {
    display: flex;
    align-items: center;
    text-decoration: none;  
    color: inherit;
  }
  
  
  .logo {
    width: 40px;  
    height: auto;
    margin-right: 10px;  
  }
  

  .text {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 24px;
    font-weight: 700;
    font-family: "Parkinsans";
    text-transform: uppercase;

  }
  
  .tagline {
    font-size: 14px;
    font-style: italic;
  }

  .jumbotron {
    background-color: #ffef86;
    display: flex;
    align-items: center; 
    height: 100vh;
  }

  #typing-text {
    font-size: 36px;
    color: #333;
    display: inline-block;
    border-right: 2px solid #333; 
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
  }

  ul.nav {
    font-size: 2rem;
  }
  .card-img-top {
    height: 200px;          
    object-fit:contain;      
    width: 100%;           
  }
  .card-skills {
    background-color: #ffef86;
    border: #676365 0.15rem solid;
  }

  h5.card-title {
    text-align: center;
    padding: 0.5rem;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #676365; 
  border-radius: 50%;  
  width: 50px;  
  height: 50px; 
  transform: scale(1.5); 
}


.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  transform: scale(1.6); 
  background-color:#676365; 
}

span {
  font-weight: 700px;
}

ul.dropdown-menu {
  background-color: #676365;
  color:#ffef86;
 
}

a.dropdown-item:hover {
  background-color: #3d3b3c;
  color:#ffef86

}
a.dropdown-item {
  color:#ffef86;
}

.myskills,
.myroles {
  font-style: italic;
  font-weight: 700;
}

.project-card {
  background-color: #3d3b3c;
  color: #ffef86;
}

.li {
  font-family: "Parkinsans";
}